{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="/profile/update" method="POST">
        <div>
            <label for="inputFirstName">First name</label>
            <input type="text" id="inputFirstName" name="firstName" placeholder="First name" value="{{ user.firstName }}" required>
        </div>

        <div>
            <label for="inputMiddleName">Middle name</label>
            <input type="text" id="inputMiddleName" name="middleName" placeholder="Middle name" value="{{ user.middleName }}">
        </div>

        <div>
            <label for="inputLastName">Last name</label>
            <input type="text" id="inputLastName" name="lastName" placeholder="Last name" value="{{ user.lastName }}" required>
        </div>

        <div>
            <label for="inputEmail">Email</label>
            <input type="email" id="inputEmail" name="email" placeholder="Email" value="{{ user.email }}">
        </div>

        <div>
            <label for="inputPhoneNumber">Phone number</label>
            <input type="text" id="inputPhoneNumber" name="phoneNumber" placeholder="Phone number" value="{{ user.phoneNumber }}" required>
        </div>

        <div>
            <label for="inputCompanyName">Company name</label>
            <input type="text" id="inputCompanyName" name="companyName" placeholder="Company name" value="{{ user.companyName }}">
        </div>

        <div>
            <label for="inputPassword">Password</label>
            <input type="password" id="inputPassword" name="password" placeholder="Password"
                   pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$"
                   title="Minimum 8 chars, at least one letter and number."
                   aria-describedby="helpBlock">
            <span id="helpBlock">Leave blank to keep current password</span>
        </div>

        <div>
            <label for="inputPasswordConfirmation">Repeat password</label>
            <input type="password" id="inputPasswordConfirmation" name="passwordConfirmation"
                   placeholder="Repeat password">
        </div>

        <button type="submit">Save modifications</button>
        <a href="/profile/show">Cancel</a>
    </form>


{% endblock %}
