{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}

    <h1>Profile</h1>

    <dl class="row">
        <dt class="col-sm-3">First name</dt>
        <dd class="col-sm-9">{{ user.firstName }}</dd>

        <dt class="col-sm-3">Middle name</dt>
        <dd class="col-sm-9">{{ user.middleName }}</dd>

        <dt class="col-sm-3">Last name</dt>
        <dd class="col-sm-9">{{ user.lastName }}</dd>

        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">{{ user.email }}</dd>

        <dt class="col-sm-3">Company</dt>
        <dd class="col-sm-9">{{ user.companyName }}</dd>

        <dt class="col-sm-3">Phone number</dt>
        <dd class="col-sm-9">{{ user.phoneNumber }}</dd>

        <dt class="col-sm-3">Creation date</dt>
        <dd class="col-sm-9">{{ user.createdAt|date("Y-m-d H:i") }}</dd>

        <dt class="col-sm-3">Last update</dt>
        <dd class="col-sm-9">{{ user.updateAt|date("Y-m-d H:i") }}</dd>

    </dl>

    <a href="/profile/edit">
        <button type="button" class="btn btn-primary">Edit account</button>
    </a>

{% endblock %}
